{% extends 'application/basic.html' %}

{% block title %} Home {% endblock %}
{% block body %}
{% load static %}
<style>td {
            border: 1px solid black;
            word-wrap: break-word;
        }
th {
            border: 1px solid black;
        }</style>
<div>
    <br>
    <br>
    <form class="d-flex" action="/exportevents/" method="GET">

        &nbsp<button class="btn btn-outline-success" type="submit">Export</button>
      </form>
<form class="d-flex" style="float:right" action="/events/" method="GET">

        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>&nbsp
      </form>
</div>
<div style="margin:5%; padding:10px; background-color:rgba(253, 253, 253, 0.3);border:1px solid;border-radius:5px;">
    <h4 style="color:black;font-family: 'Black Ops One';">Events Details:</h4><br>
<center>
    <table class="table table-primary table-sm" style="table-layout: fixed;">
    <tr>
        <th>Date-Time</th>
        <th>Organiser</th>
        <th>Attendees</th>
        <th>Department</th>
        <th>Summary</th>
        <th>Purpose</th>
        <th>Feedback</th>
    </tr>
        {% for event in Events %}
        <tr>
        <td>{{ event.datetime }}</td>
        <td>{{ event.organsier }}</td>
        <td>{{ event.attendees }}</td>
        <td>{{ event.department }}</td>
        <td>{{ event.summary }}</td>
        <td>{{ event.purpose }}</td>
        <td>{{ event.feedback }}</td>
    </tr>
        {% endfor %}

</table>
</center>

</div>
{% endblock %}