{% extends 'application/basic.html' %}

{% block title %} Home {% endblock %}
{% block body %}
{% load static %}
<div style="margin:10% 25% 0 25%; padding:10px; background-color:rgba(253, 253, 253, 0.3);border:1px solid;border-radius:5px;">
    <h4 style="color:black;font-family: 'Black Ops One';margin:0 0 0 5%;">Select a option:</h4>
    <input type="text" id="currentDateTime">
<br><br>
<script>
  var today = new Date();
var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
var dateTime = date+' '+time;
  document.getElementById("currentDateTime").value = dateTime;
</script>
    </div>
{% endblock %}